:root {
    --div-content-items-margin: 20px;
}

div#main {
    display: flex;
    flex-direction: row;
}

img#formBackground {
    height: 100%;
}

img#logo {
    height: 5rem;
}

div#content {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

form {
    background-color: white;
    padding: 20px;
}

h1#formHeading {
    margin: 0px 0px 20px;
}

h1#sign-up-page-description {
    margin: var(--div-content-items-margin);
}

h4 {
    margin: var(--div-content-items-margin);
}