html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --div-content-items-margin: 30px;
}

div#main {
    display: flex;
    flex-direction: row;
}

img#form-background {
    height: 100%;
}

img#logo {
    height: 5rem;
}

div#content {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

form>div {
    background-color: white;
    padding: 10px var(--div-content-items-margin);
    border-color: rgb(87, 87, 87);
    box-shadow: 0px 5px 5px 0px rgb(180, 180, 180);
}

#sign-up-page-description {
    margin: var(--div-content-items-margin);
}

#form-heading {
    margin: 0px 0px 20px;
}

#text-box-container {
    display: flex;
    flex-wrap: wrap;
}

.text-box {
    display: flex;
    flex-direction: column;
    margin: 5px 20% 5px 0px;
}

.text-box>label {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    margin: var(--div-content-items-margin);
}

button#create-account {
    background-color: green;
    color: white;
    margin: var(--div-content-items-margin);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 800;
}