div#main {
    display: flex;
    flex-direction: row;
}

img#formBackground {
    height: 100%;
}

img#logo {
    height: 5rem;
}

div#content {
    background-color: whitesmoke;
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
}

h1#formHeading {
    margin: 0px 0px 20px;
}